/* Header */

@import url("./styles/header.css");

/* Hero */

@import url("./styles/hero.css");

@import url("./styles/about.css");

/* Geral */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
