/* Header */
@import url("styles/header.css");

/* Hero */
@import url("styles/hero.css");

/* How i Help */
@import url("styles/howihelp.css");

/* Depoimentos */
@import url("styles/depoimentos.css");

/* Timeline */
@import url("styles/timeline.css");

/*  */

/* quem sou eu */
@import url("styles/quemsoueu.css");

/* faq */
@import url("styles/faq.css");

/* faq */
@import url("styles/whatsapp.css");

/* footer */

@import url("styles/footer.css");

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
